[user]
	email = stefan@plancraft.com
	name = Stefan
	signingkey = FC59B113212503DC
[core]
	excludesfile = /Users/stefan/.gitignore.global
	autocrlf = input
[http]
	cookiefile = /Users/stefan/.gitcookies
[init]
	defaultBranch = main
[github]
  user = stepf
[push]
	default = current
	autoSetupRemote = true
[diff]
  external = difft
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
[commit]
	gpgsign = true
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[branch]
	autoSetupMerge = always
