[user]
	email = lier.stefan@gmail.com
	name = Stefan Lier
[core]
	excludesfile = /Users/stefanlier/.gitignore.global
	autocrlf = input
[http]
	cookiefile = /Users/stefanlier/.gitcookies
[init]
	defaultBranch = main
[github]
  user = stepf
[push]
  default = simple
  autoSetupRemote = true
[diff]
  external = difft
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
